body{
	background-color: $background;
}


h1{
	color:$grey;
	font-size:10em;
}

.snow{
	background-color: transparent;
	background-image: $snow-1,$snow-ball;
	z-index: 999;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  margin-top: 0;
  pointer-events: none;
  position: absolute;



}
